body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
}

.screen {
    font-family: 'Poppins', sans-serif;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
    background-color: #000;
}

.loading-screen {
    display: flex;
}

.register-screen, .login-screen, .plan-screen, .focus-screen, .review-screen, .dashboard-screen {
    display: none;
}

.loading-screen .register-screen, .login-screen, .plan-screen, .focus-screen, .review-screen {
    height: 100vh;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
}

button {
    background-color: #000;
    border: 2px solid #fff;
    color: #fff;
    font-weight: bold;
}

/* Plan Screen Styles */

.plan-screen .mission-section, .plan-screen .time-section {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    padding: 10px;
    background-color: #000;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
}

.input::placeholder {
    color: #fff;
}

#mission-input {
    width: 400px;
}

#time-input {
    text-align: center;
    width: 60px;
}

#time-input::placeholder {
    text-align: center;
}

.plan-screen .action-section {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#start-work-btn, #dashboard-btn {
    padding: 20px;
    font-size: 1.25rem;
}


/* Focus Screen Styles */

#mission-display {
    font-size: 1.25rem;
    font-weight: bold;
}

#target-time-display {
    font-size: 1rem;
    margin-top: 0;
}

.focus-screen .timer-section p {
    font-size: 7rem;
    font-weight: bold;
    margin: .5em 0 1em 0;
}

.focus-screen .action-section {
    display: flex;
    gap: 100px;
}

.focus-screen .action-section button {
    padding: 15px 30px;
    font-size: 2rem;
}


/* Review Screen Styles */

.review-screen .target-vs-actual-container {
    font-size: 1.1rem;
}

.review-screen .target-vs-actual-container h2 {
    margin: 10px 0;
}

.review-screen .percentage-status-container {
    font-size: 2.4rem;
    font-weight: bold;
    text-align: center;
    margin: 20px 0 40px 0;
}

#completion-percentage-review, #completion-status-review {
    text-transform: capitalize;
    margin: 10px 0;
}


.review-screen .action-section {
    display: flex;
    gap: 100px;
}

.review-screen .action-section button {
    padding: 20px 30px;
    font-size: 2rem;
}




/* Dashboard Screen Styles */

.dashboard-screen header {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    border-bottom: 1px solid #fff;
    position: sticky;
    top: 0;
    background-color: #000;
    z-index: 100;
}

.dashboard-screen header h1 {
    font-size: 30px;
    display: flex;
    align-items: center;
}

.new-mission-btn-container {
    margin: auto 0;
}

#new-mission-btn {
    padding: 10px 15px;
    font-size: 1.5rem;
}


.weekly-stats {
    width: 100%;
}

.weekly-stats .stats-card {
    display: flex;
}

.stats-card p {
    margin: 0;
    padding: 20px 8%;
    border: 1px solid #fff;
}

.sessions-list-container {
    width: 100%;
    margin-top: 30px;
}

.dashboard-session-card {
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    border: 1px solid #fff;
    padding: 2.5rem 10% 1.5rem 8%;
}

.dashboard-session-date {
    font-size: 25px;
    position: absolute;
    transform: translate(0px, -90px);
    background-color: #000;
    padding: 10px 20px;
    border: 1px solid #fff;
    z-index: 1;
}

.dashboard-session-mission-container {
    display: flex;
    gap: 10%;
    margin: 0;
}

.dashboard-session-mission-container span,
.time-and-percentage-container span {
    display: flex;
    align-items: center;
}

.time-and-percentage-container {
    display: flex;
    gap: 10%;
}

.dashboard-session-percentage {
    display: flex;
    align-items: center;
}

.dashboard-session-division-line {
    width: 100%;
    height: 1px;
    background-color: #fff;
    margin: 30px 0;
}


/* loading screen styles */