alembic==1.18.5
blinker==1.9.0
click==8.4.1
colorama==0.4.6
Flask==3.1.3
flask-cors==6.0.5
Flask-JWT-Extended==4.7.4
Flask-Migrate==4.1.0
Flask-SQLAlchemy==3.1.1
greenlet==3.5.4
gunicorn==26.1.0
itsdangerous==2.2.0
Jinja2==3.1.6
libsql-experimental==0.0.55
Mako==1.3.12
MarkupSafe==3.0.3
PyJWT==2.13.0
python-dotenv==1.2.2
SQLAlchemy==2.0.51
sqlalchemy-libsql==0.2.0
types-click==7.1.8
types-Flask==1.1.6
types-Flask-Cors==6.0.3.20260616
types-Jinja2==2.11.9
types-MarkupSafe==1.1.10
types-Werkzeug==1.0.9
typing_extensions==4.16.0
Werkzeug==3.1.8
